.Listado{
    width: 42%;
    padding: 1%;
    padding-bottom: 3%;
    margin: auto;
    margin-top: 3%;
    background: #f1e9d7ee;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 5px;
    box-shadow: 0 10.36px 8.896px #c4b59d
    ,   0 -2px 1px rgb(243, 239, 239);
}
.results{
    gap: 1%;  
    display: flex;
    flex-direction: row; 
    justify-content: center;
    align-items: center;
}

.Filas{
    padding: 4%;
    color: rgb(102, 100, 100);
}
.btnList{
   background: transparent;
   border: none; 
   margin: 1%;
}
.btnList:hover{
    font-size: 1.3rem;
    transition: all .5s ease;
}